$border-normal: 1px solid rgba(0,0,0,0.3);
$border-radius-normal: 15px;
$green: rgb(101, 209, 115);
$blue: rgb(97, 158, 207);
$box-width: 200px;
$box-height: 200px;
$box-variable-big: 28px;
$box-variable-small: 20px;
$transition-length: 0.2s;