.searchbox-container {
    
    input.searchbox {
        margin-left: 5px;
        width: 0px;
        
        visibility: hidden;
        border-radius: 15px;
        border: 1px solid rgba(0,0,0,0.2);
        transition: width 0.2s;
        padding: 5px;

       &.open {
            visibility: visible;
            width: 250px;
            height:30px;
        &:focus {
            outline: none;
        }
        &.close {
            visibility: hidden;
            width: 0px;
            height: 0px;
        }
       }
        
    }
}