@import '../Styles/variables';
$easy: rgb(255, 239, 100);
$middle: rgb(255, 178, 34);
$hard: red;
.material-bycategory {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    .all-material {
        .items {
            flex: 1 0 21%;
            margin-left: 50px;
            .box {
                width: $box-width;
                height: $box-height;
                min-width: $box-width;
                min-height: $box-height;
                border-radius: 25%;
                background-color: $green;
                color: white;
                text-align: center;
                font-size: $box-variable-big;
                display: flex;
                justify-content: center;
                align-items: center;
                &.material-parent {
                    font-size: 22px;
                    margin-bottom: 40px;
                    cursor: pointer;
                    transition: border $transition-length,
                                background-color $transition-length,
                                color $transition-length; 
                    &:hover {
                        border: 2px solid $green;
                        background-color: white;
                        color: $green;
                    }
                    
                    &#addnew {
                        background-color: $blue;
                        &:hover {
                            border: 2px solid $blue;
                            background-color: white;
                            color: $blue
                        }
                    }
                }
                
            }
        }
    }
}
.materialitem-container {
    width: 80%;
    margin: auto;
    .materialitem-all {
        width: 100%;
        border: 1px solid;
        border-radius: $border-radius-normal;
        padding: 30px;
        
        .materialitem-box {
            width: 70%;
            display: flex;
            flex-wrap: wrap;
        }
    }
}
.add {
    margin-bottom: 5px;
}

.item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    .update-button {
        visibility: hidden;
        
        button {
            border-radius: $border-radius-normal;
            background-color: $blue;
            border-color: $blue;
            width: 100px;
            color: white;
            &:hover {
                background-color: white;
                color: $blue; 
            }
        }
    } 
}
.materialitem-box {
    // height: 30px;
    margin-bottom: 10px;
}
.materialitem-box:focus {
    border-bottom: 1px solid $blue;
    padding: 2px;
    box-sizing: border-box;
    // border-radius: $border-radius-normal;
    outline: none;
}
.addnewitem {
    border-radius: $border-radius-normal;
    border: 1px solid $green;
    background-color: $green;
    color: white;
    &:hover {
        color: $green;
        border-color: $green;
        background-color: white;
    }
}
.relatedquizzes {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    .quiz {
        width: 150px;
        min-width: 150px;
        height: 150px;
        border-radius: 25%;
        border: 1px solid $blue;
        background-color: $blue;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        font-size: 20px; 
        &:hover {
            background-color: white;
            border-color: $blue;
            color: $blue;
            cursor: pointer;
        }
        &:not(:first-child) {
            margin-left: 40px;
        }
    }
    #hover-quizname {
        font-size: 13px;
    }
}
