@import "../Styles/variables";

$box-width: 100px;
$box-height: 100px;
$box-border-radius: 15px;
$pic-pro-border: 5px solid rgb(255, 209, 5);
$pic-noob-border: 2px solid rgba(0, 0, 0, 0.3);
.container.profile {
    padding: 20px;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    .info {
        width: 200px;
        height: 200px;
        border: $border-normal;
        border-radius: $border-radius-normal;
        padding: 10px;
    }
    ul {
        margin-top: 10px;
        list-style-type: none;
        padding-inline-start: 0px;
        li {
            &.username {
                font-size: 25px;
            }
            &.email {
                font-size: 14px;
            }
        }
    }
}

.container-settings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 82%;
    .box {
        text-align: center;
        // padding-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        // margin-right: 10%;
        width: 200px;
        height: 200px;
        border-radius: $box-border-radius;
        border: $border-normal;
        font-size: 25px;
        font-weight: 200;
        transition: border 0.3s;
        #settings {
            padding-top: 11px;
        }
        a:hover {
            color: black;
        }
        @each $item in "#stats" "#leaderboard" "#settings" {
            &#{$item}:hover {
                border: 1px solid $green;
                cursor: pointer;
                span {
                    color: black;
                    &:focus {
                        color: black;
                    }
                }
            }
        }
    }
}
.profilePicture {
    max-width: 80%;
    margin: auto;
    border-radius: 50%;
    border: $pic-noob-border;
    width: 80px;
    height: 80px;
    &.pro {
        border: $pic-pro-border !important;
    }
}

.container.activity.new-quiz {
    width: 70%;
    min-height: 0px;
    margin: auto;
    border: $border-normal;
    border-radius: $border-radius-normal;
    border-color: rgb(255, 46, 220);
    margin-bottom: 20px;
    margin-top: -105px;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    cursor: pointer;
}

.activity-container {
    margin-top: 20px;
    width: 100%;
}
.activity {
    width: 82% !important;
}
.glyphicon.glyphicon-cog::after {
    font-size: 39px;
}
.newquizzes {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
