@import './Styles/variables';

body {
    margin-top: 80px;
    .container {
        width : 80%;
        margin: auto;
    }
    font-weight: 340;
}
    
a {
    color: black;
    &:hover {
        text-decoration: none;
        cursor: pointer;
    }
}
h1 {
    font-weight: 140;
}
p {
    font-size: 18px;
}
.error {
    color: red;
}
.hidden {
    visibility: hidden;
    transition: visibility $transition-length;
}
