* {
    body {
        margin-top: 80px;
    }
    font-weight: 340;
    a {
        color: black;
        &:hover {
            text-decoration: none;
            cursor: pointer;
        }
    }
    h1 {
        font-weight: 140;
    }
    p {
        font-size: 18px;
    }
    
}